.top-bar {
    border-bottom: 10px solid #870202;
}

.top-bar, .top-bar ul {
    font-family: Helvetica;
    font-size: 14px;
    padding: 0.2rem;
    background-color: #f2f2f2;
}

.top-bar .menu a:link, .top-bar .menu a:visited {
    color: #777;
}

.top-bar .menu a:hover, .top-bar .is-active a:active {
    color: #444;
}

footer {
    background-color: #404040;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f2f2f2;
}

.main .grid-container {
    margin-bottom: 2rem;
}

.hero-section {
    background: url("../img/books.jpg") 50% no-repeat;
    background-size: cover;
    height: 80vh;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section .hero-section-text a {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.layer {
    background-color: rgba(43, 0, 0, 0.7);
    width: 100%;
    height: inherit;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.vertical-center {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.full-screen {
    height: 90vh;
}

.horizontal-center {
    padding-left: auto;
    padding-right: auto;
}

.button.round {
    border-radius: 0.5em;
}

.text-center a {
    text-align: center;
}

.accordion-menu a {
    border-bottom: 3px solid #870202;
    color: #000;
}

.accordion-menu #first {
    border-bottom: 2px solid #000;
}

.accordion-menu #last {
    border-bottom: none;
}

.accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
    border-color: #000 transparent transparent;
}

#filters {
    border: 2px solid #000;
    background: #ddd;
}

#picturesLabel {
    margin-top: 3rem;
}
