.top-bar .input-group {
    margin-bottom: 0;
}

footer {
    background-color: #939393;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main .grid-container {
    margin-bottom: 2rem;
}

.hero-section {
    background: url("../img/books.jpg") 50% no-repeat;
    background-size: cover;
    height: 80vh;
}

.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}

.hero-section .hero-section-text a {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.layer {
    background-color: rgba(26, 35, 9, 0.7);
    width: 100%;
    height: inherit;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
