{% extends "base.html" %}

{% block content %}

<style>
  .accordion-title {
    color: black;
    font-weight: bold;
  }
  a:link, a:focus, a:visited, a:active {
    color: black;
  }
</style>

<div class="grid-container">
  <div class="row text-center">
    <h1>FAQs</h1>
  </div>
  <div class="row">
    <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs large-accordion">

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How do I sell an item?</a>
        <div class="accordion-content" data-tab-content>
          Click on the "Create Item" button on the homepage after you have logged in. Make sure the "Type" of item is set to "Selling". Enter the prompted information, including the name, price, description, and picture(s) of the item. After you submit, your item should be listed on the marketplace.
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">How do I buy an item?</a>
        <div class="accordion-content" data-tab-content>
          Click on the "Create Item" button on the homepage after you have logged in. Make sure the "Type" of item is set to "Buying". Enter the prompted information, including the name, suggested price, description, and picture(s) of the item that you are looking for. After you submit, the item you are looking for should be listed on the marketplace.
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">I can't see my item on the marketplace???</a>
        <div class="accordion-content" data-tab-content>
          Relax. Others can see your item, even though you can't. You can view your listed items on your Profile page.
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">What does the highlighting around certain items represent?</a>
        <div class="accordion-content" data-tab-content>
          Yellow highlighted items indicate a meeting for that item has been arranged, while red highlighted items indicate the item has been sold. You can still contact the seller/buyer of the item, but  the item may not be available.
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Who created this website?</a>
        <div class="accordion-content" data-tab-content>
          This website was built by Ryan Siu, Max Korsun, Andrew Wong, and Edward Luo for their Software Development Fall Final Project in the '17-'18 school year.
        </div>
      </li>

      <li class="accordion-item" data-accordion-item>
        <a href="#" class="accordion-title">Why did you create this website?</a>
        <div class="accordion-content" data-tab-content>
          This website was designed to simplify the process of buying and selling items on the Buying and Selling for Stuy Facebook groups.
        </div>
      </li>

    </ul>
  </div>
</div>

{% endblock %}
