{% extends "base.html" %}

{% block content %}

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell text-center">
      <h1>Stuy is currently selling...</h1>
    </div>
    <div class="auto cell">
      <ul class="vertical menu accordion-menu" id="filters" data-accordion-menu>
        <li>
          <a id="first">Filters</a>
          <ul class="vertical menu nested">
            <li>
              <a href="#">Item 1</a>
              <ul class="menu vertical nested">
                <li><a href="#">Item 1A</a></li>
                <li><a href="#">Item 1B</a></li>
              </ul>
            </li>
            <li><a href="#" id="last">Item 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="shrink cell">
      <a class="button success" id="refresh" href="#"><i class="fi-refresh"></i></a>
    </div>
    <div class="shrink cell">
      <a class="button primary" href="{{ url_for('upload') }}">Create Item</a>
    </div>
  </div>
  <div class="large-12 cell">
    <div class="callout">
      <div class="grid-x grid-padding-x" id="listingCell">
        {% if not items %}
        <h4 id="emptyText">There are currently no items available.</h4>
        {% endif %}
        {% for item in items %}
          {% include "item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/items.js') }}"></script>
{% endblock %}
