{% extends "base.html" %}

{% block content %}

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell text-center">
      <h1>Stuy is currently selling...</h1>
      <div class="float-right">
        <ul class="vertical menu align-right accordion-menu" data-accordion-menu>
          <li>
            <a href="#">Item 1</a>
            <ul class="menu vertical nested is-accordion-submenu">
              <li><a href="#">Item 1A</a></li>
              <li><a href="#">Item 1B</a></li>
            </ul>
          </li>
          <li><a href="#">Item 2</a></li>
        </ul>
      </div>
    </div>
    <div class="large-12 cell">
      <div class="callout">
        <div class="grid-x grid-padding-x">
          {% for item in items %}
          <div class="medium-4 large-4 cell">
            <div class="card">
              <div class="card-divider">
                {{ items[item].name }}
              </div>
              <img src="assets/img/generic/rectangle-1.jpg">
              <div class="card-section">
                <h4>{{ items[item].price | currency }}</h4>
                <p>Seller: {{ items[item].user_id }}</p>
                <p>{{ items[item].description }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
