{% extends "base.html" %}

{% block content %}


<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell text-center">
      <h1>Profile</h1>
    </div>
    <div class="large-3 cell">
      <div class="callout">
        <div class="grid-x grid-padding-x">
          <div class="auto cell">
            <a class="button primary" href="{{ url_for('upload') }}">Create Item</a>
          </div>
          <div class="shrink cell">
            <a class="button success" id="refresh" href="#"><i class="fi-refresh"></i></a>
          </div>
        </div>
      </div>
      <div class="callout">
        <h3>Search</h3>
        <form name="search">
          <div class="input-group">
            <input id="queryInput" type="text" name="query" placeholder="Search...">
            <div class="input-group-button">
              <button type="submit" class="button"><i class="fi-magnifying-glass"></i></button>
            </div>
          </div>
        </form>
      </div>
      <div class="callout">
        <h3>Filters</h3>
        <label>Hold CTRL or CMD to select multiple.
          <select id="select_filters" multiple>
            <option value="selling">Selling</option>
            <option value="looking_for">Looking for</option>
            <option disabled="disabled"></option>
            <option value="under_5">Under $5</option>
            <option value="5_10">Between $5 - $9.99</option>
            <option value="10_15">Between $10 - $14.99</option>
            <option value="over_15">Over $15</option>
            <option disabled="disabled"></option>
            <option value="book">Books</option>
          </select>
        </label>
      </div>
    </div>
    <div class="large-9 cell" id="listingCell">
      <div class="callout">
	<div class="grid-x grid-padding-x" id="listingCell">
	  {% set items = Uitems %}
          {% if not items %}
          <h4 id="emptyText">You have not sold any items.</h4>
          {% endif %}
          {% for item in items %}
          {% include "item.html" %}
          {% endfor %}
	</div>
      </div>
    </div>
    <div class="large-9 cell">
      <div class="callout">
	<div class="grid-x grid-padding-x" id="listingCell">
	  {% set items = Bitems %}
          {% if not items %}
          <h4 id="emptyText">You have not bought any items.</h4>
          {% endif %}
          {% for item in items %}
          {% include "item.html" %}
          {% endfor %}
	</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/items.js') }}"></script>
{% endblock %}
