{% extends "base.html" %}

{% block content %}


<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="large-12 cell text-center">
      <h1>Profile</h1>
    </div>
    <div class="auto cell">
    <div class="shrink cell">
      <a class="button primary" href="{{ url_for('upload') }}">Create Item</a>
    </div>
  </div>
  <div class="large-12 cell">
    <div class="callout">
      <div class="grid-x grid-padding-x" id="listingCell">
        {% if not items %}
        <h4 id="emptyText">You have not sold any items.</h4>
        {% endif %}
        {% for item in items %}
          {% include "item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="large-12 cell">
    <div class="callout">
      <div class="grid-x grid-padding-x" id="listingCell">
        {% if not items %}
        <h4 id="emptyText">You have not bought any items.</h4>
        {% endif %}
        {% for item in items %}
          {% include "item.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/items.js') }}"></script>
{% endblock %}
